---
import Layout from "../layouts/Layout.astro"

const title = "Términos y Condiciones"
---

<Layout title={title}>
    <section class="max-w-4xl mx-auto p-8 pt-20 bg-gray-900 text-white rounded-lg shadow-lg">
        <h1 class="text-4xl font-semibold text-cian mb-6 text-center">Términos y Condiciones de Ledify</h1>
        
        <h2 class="text-2xl font-semibold text-cian mb-4">1. Políticas de Envíos</h2>
        <p class="mb-4">
          Realizamos envíos a toda la República Argentina. A continuación, se detallan las condiciones de envío:
        </p>
        <ul class="list-disc pl-6 mb-4">
          <li><strong>CABA y GBA:</strong> Utilizamos moto mensajería express para realizar los envíos dentro de la Ciudad Autónoma de Buenos Aires y Gran Buenos Aires.</li>
          <li><strong>Interior de Buenos Aires y resto del país:</strong> Utilizamos Correo Argentino para realizar los envíos a otras provincias de Argentina.</li>
          <li><strong>Tiempo de envío:</strong> El tiempo de envío varía entre 4 a 9 días hábiles, dependiendo de la distancia.</li>
          <li><strong>Valor del envío:</strong> El costo del envío se determina según la distancia y la ubicación del destino.</li>
        </ul>
      
        <h2 class="text-2xl font-semibold text-cian mb-4">2. Política de Devoluciones</h2>
        
        <h3 class="text-xl font-semibold text-cian mb-2">Garantía</h3>
        <p class="mb-4">
          Todos nuestros productos están cubiertos por una garantía. Además, ofrecemos una política de devolución exprés dentro de los 10 días de haber recibido la compra. Si el producto presenta un fallo o no cumple con tus expectativas, puedes realizar la devolución en ese plazo sin ningún costo adicional. Las devoluciones deben ser completas, es decir, el producto debe estar sin uso, con su caja original y todos los accesorios que incluya, incluyendo el packaging original.
        </p>
      
        <h3 class="text-xl font-semibold text-cian mb-2">Reembolsos</h3>
        <p class="mb-4">
          Durante el periodo de devolución, se reintegrará el 100% del valor de la compra, incluyendo el costo del envío. Pasado este plazo, la garantía estará en curso y no cubrirá los gastos de flete o transporte para devolver el producto a nuestro depósito.
        </p>
      
        <h2 class="text-2xl font-semibold text-cian mb-4">3. Modificaciones de Términos y Condiciones</h2>
        <p class="mb-4">
          Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Cualquier cambio será informado a través de nuestro sitio web. Te recomendamos revisar regularmente esta sección para estar al tanto de cualquier actualización.
        </p>
      
        <h2 class="text-2xl font-semibold text-cian mb-4">4. Aceptación de Términos</h2>
        <p class="mb-4">
          Al utilizar nuestra tienda online, aceptas los términos y condiciones aquí establecidos. Si no estás de acuerdo con alguna parte de estos términos, te recomendamos no utilizar nuestros servicios.
        </p>
      </section>
</Layout>
