---
export interface Props {
  logo: string;
  links: { href: string; label: string }[];
}

const { logo, links } = Astro.props;
---

<header
  class="fixed top-0 left-0 w-full h-max flex justify-between items-center bg-fondo p-4 px-10 backdrop-blur-xl z-50"
>
  <a href="/#hero">
    <img src={logo} alt="Ledify Logo" class="h-8 drop-shadow-custom-cyan" />
  </a>
  <div class="w-12 md:w-auto h-12 md:h-max rounded-full md:rounded-none [&>nav]:hover:translate-x-0 text-center content-center ">
    <p class="text-2xl font-serif text-[#15fefe] md:hidden">☰</p>
    <nav class="w-[80vw] md:w-auto h-screen md:h-max fixed md:relative top-0 right-0 translate-x-full transition md:translate-x-0 flex flex-col md:flex-row justify-center md:justify-around items-start md:items-center px-5 gap-3 md:space-x-4 bg-gray-900 md:bg-transparent z-50">
      {
        links.map((link) => (
          <a href={link.href} class="text-[#15fefe] hover:underline py-2 drop-shadow-custom-dark">
            {link.label}
          </a>
        ))
      }
    </nav>
  </div>
</header>
